template(name='food')
    .ui.padded.stackable.grid
        .four.wide.column
            .ui.header food
        .twelve.wide.column
            .ui.cards
                each shops
                    +shop_card

template(name='shop_card')
    a.card(href="/shop/#{_id}/view")
        .image
            img.ui.raw.image(src="{{c.url image width=400 height=300 crop='fill'}}")    
        .content
            a.ui.header(href="/shop/#{_id}/view")
                |#{title}
            |!{description}
        


template(name='shop_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    // if can_edit
                    a(href="/m/shop" title='shops')
                        +icolorlg name='food' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    if icon
                        +icolorlg name=icon cl='ui inline image'
                    else
                        +icolorlg name='food' cl='ui inline image'
                    .ui.center.aligned.inline.header 
                        small viewing shop
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.edit_shop(href="/shop/#{_id}/edit")
                            i.big.blue.pencil.icon
            .row 
                .four.wide.column
                    .ui.header
                        i.marker.icon 
                        |#{location}
                    .ui.header 
                        small leader
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    +image_view key='image' label='image' direct=true
                .eight.wide.column
                    // +number_view key='bounty' label='bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    .ui.icon.button.add_item 
                        i.plus.icon
                    each menu_items
                        a.ui.header(href="/menu/#{_id}/view") #{title}
                    +comments
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header 
                        +icon name='shop'
                        |shops
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit

template(name='shop_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.big.icon.button(href="/shop/#{_id}/view" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.inline.header 
                        +icon name='shop'
                        small edit shop
                        |#{title}
                .four.wide.center.aligned.column
                    i.link.big.remove.icon.delete_item(title='delete shop')
            .row 
                .five.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image' label='image' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    +textarea_edit key='goals' label='goals' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true








template(name='menu_item_view')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row
                .four.wide.center.aligned.column
                    // if can_edit
                    a(href="/m/menu_item" title='menu_items')
                        +icolorlg name='food' cl='ui inline image pointer'
                .eight.wide.center.aligned.column
                    if icon
                        +icolorlg name=icon cl='ui inline image'
                    else
                        +icolorlg name='food' cl='ui inline image'
                    .ui.center.aligned.inline.header 
                        small viewing menu_item
                        |#{title}
                .four.wide.center.aligned.column
                    if can_edit
                        a.edit_menu_item(href="/menu_item/#{_id}/edit")
                            i.big.blue.pencil.icon
            .row 
                .four.wide.column
                    .ui.header
                        i.marker.icon 
                        |#{location}
                    .ui.header 
                        small leader
                    a.ui.header(href="/user/#{_author.username}") 
                        img.ui.avatar.image(src="{{c.url _author.profile_image_id height=200 width=200 gravity='face' crop='fill'}}")
                        |#{_author.username}
                    +image_view key='image' label='image' direct=true
                .eight.wide.column
                    // +number_view key='bounty' label='bounty' direct=true
                    +textarea_view key='description' label='description' direct=true
                    div 
                    +array_view key='tags' label='tags' direct=true
                    .spacer
                    .spacer
                    .ui.icon.button.add_item 
                        i.plus.icon
                    each menu_items
                        a.ui.header(href="/menu/#{_id}/view") #{title}
                    +comments
                    //- +array_view key='location_tags' label='location_tags' direct=true
                .four.wide.column
                    .ui.header 
                        +icon name='menu_item'
                        |menu_items
                    //- .ui.fluid.green.button.submit
                    //-     i.checkmark.icon
                    //-     |submit


template(name='menu_item_edit')
    with current_doc
        .ui.stackable.padded.grid
            .centered.middle.aligned.row 
                .four.wide.center.aligned.column
                    a.ui.green.big.icon.button(href="/menu_item/#{_id}/view" title='save')
                        i.checkmark.big.icon
                .eight.wide.center.aligned.column
                    .ui.inline.header 
                        +icon name='menu_item'
                        small edit menu_item
                        |#{title}
                .four.wide.center.aligned.column
                    i.link.big.remove.icon.delete_item(title='delete menu_item')
            .row 
                .five.wide.column
                    +text_edit key='title' icon='header' direct=true
                    +image_edit key='image' label='image' direct=true
                    +text_edit key='location' label='location' icon='marker' direct=true
                    +icon_edit key='icon' label='icon' direct=true
                    div 
                    +array_edit key='tags' label='tags' direct=true
                .six.wide.column
                    +textarea_edit key='description' label='description' direct=true
                    // +textarea_edit key='goals' label='goals' direct=true
                    //- +array_edit key='location_tags' label='location_tags' direct=true
                .five.wide.column
                    +boolean_edit key='published' direct=true
